<!DOCTYPE HTML>
<html lang="{{ lang }}" ng-app="Multilingual">
    
<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>LeoLeao | vCard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->	
        <link type="text/css" rel="stylesheet" href="assets/css/reset.css">
        <link type="text/css" rel="stylesheet" href="assets/css/plugins.css">
        <link type="text/css" rel="stylesheet" href="assets/css/style.css">
        <link type="text/css" rel="stylesheet" href="assets/css/color.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="assets/img/favicon.ico">
    </head>
    <body>
        <!--================= loader start ================-->
         <div class="loader">
              <div class="electron one"></div>
              <div class="electron oni"></div>
              <div class="electron two"></div>
              <div class="electron tuo"></div>  
        </div>   
        <!-- loader end -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->	
            <header>                
                <div class="logo-holder"><a href="index.html"><h3>Leo Leão<h3/></a></div>
                    <div class="nav-lang">
                        <div ng-controller="LanguageSwitchController">
                            <a ng-show="lang == 'en'" ng-click="changeLanguage('pt')" ><img src="assets/img/brazilFlag.png" ></a>
                                            
                            <a ng-show="lang == 'pt'" ng-click="changeLanguage('en')"><img src="assets/img/usFlag.png"></a>
                        </div> 
                    </div>
                <div class="nav-button">
                    <span class="nos"></span>
                    <span class="ncs"></span>
                    <span class="nbs"></span>
                </div>
            </header>
            <!-- header  end -->
            <!--=============== wrapper ===============-->	
            <div id="wrapper">
                <!--=============== content-holder ===============-->	
                <div class="content-holder scale-bg2">
                    <!--=============== navigation ===============-->
                    <div class="nav-inner isDown">
                        <div class="nav-decor nav-decor-tl"></div>
                        <div class="nav-decor nav-decor-br"></div>
                        <div class="overlay"></div>
                        <nav>
                            <ul>
                                <li class="subnav">
                                    <a href="index.html" class="curpage">Home</a>
                                    <!-- General menu scroll navigation -->
                                    <ul>
                                        <li>
                                            <a href="index.html#sec1" class="custom-scroll-link" translate="ABOUT_ME"></a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec2" class="custom-scroll-link" translate="RESUME"></a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec3" class="custom-scroll-link" translate="SERVICES"></a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec4" class="custom-scroll-link" translate="SKILLS"></a>
                                        </li>
                                        <li>
                                            <a href="index.html#sec5" class="custom-scroll-link" translate="CLIENTS"></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->
                    <!--=============== hero-wrapper ===============-->
                    <div class="hero-wrapper">
                        <div class="section-parallax" data-top-bottom="transform: translateY(450px);" data-bottom-top="transform: translateY(-450px);">
                            <div class="media-container">
                                <!-- slideshow images-->
                                <div class="slideshow-wrap owl-carousel">
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(assets/img/bg/backgroundNY.jpg)"></div>
                                    </div>
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(assets/img/bg/NYcars.jpg)"></div>
                                    </div>
                                    <div class="item full-height">
                                        <div class="bg" style="background-image:url(assets/img/bg/pitt.jpg)"></div>
                                    </div>
                                </div>
                                <!-- slideshow end-->
                                <div class="overlay"></div>
                            </div>
                            <div class="hero-title">
                                <div class="hero-wrap" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(150px);">
                                    <h3 translate="WELCOME_MESSAGE"></h3>
                                    <div class="clearfix"></div>
                                    <h4><a href="#sec1" class="custom-scroll-link" translate="START_MESSAGE"></a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- hero-wrapper  end -->
                    <!--=============== fixed-column ===============-->	
                    <div class="fixed-column">
                        <!-- animation background -->
                        <div class="bg-wrapper">
                            <div class="bg bg-scroll"></div>
                            <div class="overlay"></div>
                            <div class="bg-title"><span></span></div>
                        </div>
                    </div>
                    <!-- fixed-column end -->
                    <!--=============== wrapper-inner  ===============-->
                    <div class="wrapper-inner home-wrap">
                        <!-- scroll page navigation -->
                        <div class="scroll-nav-holder">
                            <nav class="scroll-nav">
                                <ul>
                                    <li><a class="scroll-link fbgs" href="#sec1" data-bgscr="assets/img/aboutme.jpg" 
                                    data-bgtex="ABOUT_ME"><span translate="ABOUT_ME" id="ABOUT_ME"></span></a></li>
                                    <li><a class="scroll-link" href="#sec2" data-bgscr="assets/img/me.jpg" data-bgtex="RESUME"><span translate="RESUME" id="RESUME"></span></a></li>
                                    <li><a class="scroll-link" href="#sec3" data-bgscr="assets/img/nybuilding.jpg" data-bgtex="SERVICES"><span translate="SERVICES" id="SERVICES"></span></a></li>
                                    <li><a class="scroll-link" href="#sec4" data-bgscr="assets/img/wsstreet.jpg" data-bgtex="SKILLS"><span translate="SKILLS" id="SKILLS"></span></a></li>
                                    <li><a class="scroll-link" href="#sec5" data-bgscr="assets/img/owls.jpg" data-bgtex="CLIENTS"><span translate="CLIENTS" id="CLIENTS"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- scroll page navigation end -->
                        <!--=============== content ===============-->	
                        <div class="content">
                            <!-- section about -->
                            <section id="sec1">
                                <!-- container -->
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span translate="ABOUT_ME"></span></div>
                                        <h3 translate="WHO_I_AM"></h3>
                                        <h2 translate="ABOUT_ME"></h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="about-iamge">
                                                <img src="assets/img/mySelf.jpg" alt="" class="respimg">
                                            </div>
                                        </div>
                                        <div class="col-md-7 align-text">
                                            <h4 class="text-subtitle">Leonardo M. Leão</h4>
                                            <div>
                                            <h3 class="text-title"><span translate="JOB"></span><span class="color" translate="JOB_FUNCTION"></span><span translate="JOB_LOCATION"></span></h3>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p translate="MY_HISTORY"></p>
                                            <p translate="WHAT_I_WANT"></p>
                                            <p class="bold" translate="WHAT_I_THINK"></p>
                                            <a href="portfolio.html" class="btn hide-icon"><i class="fa fa-angle-right"></i><span translate="PORTIFOLIO_BUTTON"></span></a>	
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end -->
                            <!-- section facts -->
                            <section>
                                <div class="container">
                                    <div class="facts-title">
                                        <h3 translate="FACTS"></h3>
                                    </div>
                                    <div class="inline-facts-holder">
                                        <!-- 1 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num coffe" data-content="" data-num="">0</div>
                                                </div>
                                            </div>
                                            <h6 translate="CUPS_OF_COFFE"></h6>
                                        </div>
                                        <!-- 2 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div class="stats animaper">
                                                    <div class="num nightsAwake" data-content="" data-num="">0</div>
                                                </div>
                                            </div>
                                            <h6 translate="NIGHTS_AWAKE"></h6>
                                        </div>
                                        <!-- 3 -->
                                        <div class="inline-facts">
                                            <div class="milestone-counter">
                                                <div  class="stats animaper">                                                   
                                                <div id="timeLearning" class="num timeLearning" data-content="" data-num="">0</div>                                                                                        
                                                </div>
                                            </div>                                            
                                            <h6 translate="TIME_STUDYING"></h6><h6 class="htmlCss"><img height="18" width="18" src="assets/img/icons/html5.svg" onerror="this.src='assets/img/icons/html5.png'"> &
                                                <img height="18" width="18" src="assets/img/icons/css3.svg" onerror="this.src='assets/img/icons/css3.png'"> </h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end -->  
                            <div class="section-separator"></div>
                            <!--=============== section resume  ===============-->	
                            <section  id="sec2">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span translate="RESUME"></span></div>
                                        <h3 translate="MY_BIO"></h3>
                                        <h2 translate="RESUME"></h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="accordion" data-name="1">
                                        <!-- 1 - visible-->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-briefcase"></i> 2015-2016 <span translate="BIO_JOB_1"> </span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4 translate="BIO_JOB_1_FUNCTION"></h4>
                                            <ul>
                                                <li translate="BIO_JOB_1_SCOPE_1"></li>
                                                <li translate="BIO_JOB_1_FUNCTION"></li>
                                                <li translate="BIO_JOB_1_FUNCTION"></li>
                                            </ul>
                                            <div>
                                            <p translate="BIO_JOB_1_RESP"> </p>
                                            <p translate="BIO_JOB_1_RESP_LIST_1"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_2"></p>                                           
                                            <p translate="BIO_JOB_1_RESP_LIST_3"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_4"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_5"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_6"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_7"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_8"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_9"></p>
                                            <p translate="BIO_JOB_1_RESP_LIST_10"></p>
                                             </div>
                                        </div>                                        
                                        <!-- 2 -->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-pencil"></i> 2014-2016 <span translate="BIO_STUDIES"></span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4 translate="BIO_STUDIES_FUNCTION"></h4>
                                            <ul>
                                                <li><img height="30" width="30" src="assets/img/icons/photoshop.svg" onerror="this.src='assets/img/icons/photoshop.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/illustrator.svg" onerror="this.src='assets/img/icons/illustrator.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/html5.svg" onerror="this.src='assets/img/icons/html5.png'"></li>                                               </li>
                                                <li><img height="30" width="30" src="assets/img/icons/css3.svg" onerror="this.src='assets/img/icons/css3.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/javascript.svg" onerror="this.src='assets/img/icons/javascript.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/jquery.svg" onerror="this.src='assets/img/icons/jquery.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/php.svg" onerror="this.src='assets/img/icons/php.png'"></li>
                                                <li><img height="30" width="30" src="assets/img/icons/ubuntu.svg" onerror="this.src='assets/img/icons/ubuntu.png'"></li>
                                            </ul>
                                            <p  translate="BIO_STUDIES_METHOD"></p>
                                        </div>
                                        <!-- 4 -->
                                        <div class="accordion-title transition">
                                            <h5><a href="#"> <i class="fa fa-graduation-cap"></i> 2014-2017 <span translate="BIO_STUDIES_COLLEGE"></span></a></h5>
                                        </div>
                                        <div class="accordion-inner">
                                            <h4 translate="BIO_STUDIES_FUNCTION"></h4>
                                            <ul>
                                                <li translate="BIO_STUDIES_FUNCTION_LIST_1"></li>
                                                <li translate="BIO_STUDIES_FUNCTION_LIST_2"></li>
                                                <li translate="BIO_STUDIES_FUNCTION_LIST_3"></li>
                                            </ul>
                                            <p translate="BIO_STUDIES_REASON"></p>
                                        </div>
                                        <a href="portfolio.html" class="btn hide-icon"><i class="fa fa-angle-right"></i><span translate="PORTIFOLIO_BUTTON"></span></a> 
                                    </div>
                                </div>
                            </section>
                            <!-- section end -->
                            <div class="section-separator"></div>
                            <!-- section services -->
                            <section  id="sec3">
                                <!-- container-->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span translate="SERVICES"></span></div>
                                        <h3 translate="WHAT_I_DO"></h3>
                                        <h2 translate="SERVICES"></h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <!-- section title end  -->
                                    <!-- 2 -->
                                    <div class="carous-holder ser-carous-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div  class="owl-carousel services-carusel">
                                            <!-- 1 item -->
                                            <div class="item">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <a class="image-popup box-popup" href="assets/img/peaks.jpg"><i class="fa fa-expand"></i></a>
                                                        <div class="folio-img"> 
                                                            <span class="overlay"></span> 
                                                            <img  src="assets/img/peaks.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <h4 translate="SERVICES_TYPE_1"></h4>
                                                        <p translate="SERVICES_1_REASON"></p>
                                                        <ul>
                                                            <li translate="SERVICES_1_FUNCTION_LIST_1"></li>
                                                            <li translate="SERVICES_1_FUNCTION_LIST_2"></li>
                                                            <li translate="SERVICES_1_FUNCTION_LIST_3"></li>
                                                        </ul>                                                        
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <!-- 2 item -->
                                            <div class="item">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <a class="image-popup box-popup" href="assets/img/ny.jpg"><i class="fa fa-expand"></i></a>
                                                        <div class="folio-img"> 
                                                            <span class="overlay"></span> 
                                                            <img  src="assets/img/ny.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h4 translate="SERVICES_TYPE_2"></h4>
                                                        <p translate="SERVICES_2_REASON"></p>
                                                        <ul>
                                                            <li translate="SERVICES_2_FUNCTION_LIST_1"></li>
                                                            <li translate="SERVICES_2_FUNCTION_LIST_2"></li>
                                                        </ul>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 item -->
                                            <div class="item">
                                                <div class="services-box box-item-holder">
                                                    <div class="grid-item-holder services-image">
                                                        <a class="image-popup box-popup" href="assets/img/home.jpg"><i class="fa fa-expand"></i></a>
                                                        <div class="folio-img"> 
                                                            <span class="overlay"></span> 
                                                            <img  src="assets/img/home.jpg"  alt="">
                                                        </div>
                                                    </div>
                                                    <div class="services-box-info">
                                                        <span class="services-decor"></span>
                                                        <h4 translate="SERVICES_TYPE_3"></h4>
                                                        <p translate="SERVICES_3_REASON"></p>
                                                        <ul>
                                                            <li translate="SERVICES_3_FUNCTION_LIST_1" ></li>
                                                            <li translate="SERVICES_3_FUNCTION_LIST_2"></li>
                                                            <li translate="SERVICES_3_FUNCTION_LIST_3"></li>
                                                        </ul>
                                                        <div class="clear"></div>                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- container end  -->
                            </section>
                            <!-- section end  -->
                            <div class="section-separator"></div>
                            <!-- section skills -->
                            <section class="small-pad" id="sec4">
                                <!-- container -->
                                <div class="container">
                                    <!-- section title -->
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span translate="SKILLS">My skills</span></div>
                                        <h3 translate="ATTAINMENTS"></h3>
                                        <h2 translate="MY_SKILLS"></h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <!-- section title end -->
                                    <!-- circle skills -->
                                    <div class="piechart-holder animaper" data-skcolor="#8F8F8F">
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="60">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                                <div class="skills-description">
                                                    <h4 translate="SKILLS_TYPE_1"></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span><img height="30" width="30" src="assets/img/icons/photoshop.svg" onerror="this.src='assets/img/icons/photoshop.png'"> Photoshop </span></div>
                                                    <div class="skill-bar-percent">75%</div>
                                                    <div class="skillbar-bg" data-percent="75%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span><img height="30" width="30" src="assets/img/icons/lightroom.svg" onerror="this.src='assets/img/icons/lightroom.png'"> Lightroom </span></div>
                                                    <div class="skill-bar-percent">80%</div>
                                                    <div class="skillbar-bg" data-percent="80%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span><img height="30" width="30" src="assets/img/icons/illustrator.svg" onerror="this.src='assets/img/icons/illustrator.png'"> Illustrator </span></div>
                                                    <div class="skill-bar-percent">15%</div>
                                                    <div class="skillbar-bg" data-percent="15%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="90">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                                <div class="skills-description">
                                                    <h4 translate="SKILLS_TYPE_2"></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span><img height="40" width="40" src="assets/img/icons/java.svg" onerror="this.src='assets/img/icons/java.png'"></span></div>
                                                    <div class="skill-bar-percent">50%</div>
                                                    <div class="skillbar-bg" data-percent="50%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span><img height="30" width="30" src="assets/img/icons/html5.svg" onerror="this.src='assets/img/icons/html5.png'"> <img height="30" width="30" src="assets/img/icons/css3.svg" onerror="this.src='assets/img/icons/css3.png'"></span></div>
                                                    <div class="skill-bar-percent">60%</div>
                                                    <div class="skillbar-bg" data-percent="60%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 3-->
                                                    <div class="custom-skillbar-title"><span><img height="30" width="30"src="assets/img/icons/javascript.svg" onerror="this.src='assets/img/icons/javascript.png'"> <img height="30" width="30"src="assets/img/icons/jquery.svg" onerror="this.src='assets/img/icons/jquery.png'"></span></div>
                                                    <div class="skill-bar-percent">40%</div>
                                                    <div class="skillbar-bg" data-percent="40%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!-- chart item -->
                                            <div class="piechart col-md-3">
                                                <span class="chart" data-percent="85">
                                                <span class="percent"></span>
                                                </span>
                                                <div class="clearfix"></div>
                                                <div class="skills-description">
                                                    <h4 translate="SKILLS_TYPE_3"></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="skillbar-box animaper">
                                                    <!-- skill 1-->
                                                    <div class="custom-skillbar-title"><span translate="SKILLS_TYPE_3_LIST_1"></span></div>
                                                    <div class="skill-bar-percent">100%</div>
                                                    <div class="skillbar-bg" data-percent="100%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    <!-- skill 2-->
                                                    <div class="custom-skillbar-title"><span translate="SKILLS_TYPE_3_LIST_2"></span></div>
                                                    <div class="skill-bar-percent">90%</div>
                                                    <div class="skillbar-bg" data-percent="90%">
                                                        <div class="custom-skillbar"></div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  skills end-->
                                </div>
                                <!-- container end-->
                            </section>
                            <!-- section end  -->
                            <div class="section-separator"></div>
                            <!-- section clients -->
                            <section  id="sec5">
                                <div class="container">
                                    <div class="section-title">
                                        <div class="sect-subtitle" data-top-bottom="transform: translateY(-300px);" data-bottom-top="transform: translateY(300px);"><span translate="CLIENTS"></span></div>
                                        <h3 translate="CLIENTS_TITLE"></h3>
                                        <h2 translate="CLIENTS">Clients</h2>
                                        <div class="st-separator"></div>
                                    </div>
                                    <div class="single-slider-holder">
                                        <div class="customNavigation">
                                            <a class="next-slide transition"><i class="fa fa-angle-right"></i></a>
                                            <a class="prev-slide transition"><i class="fa fa-angle-left"></i></a>
                                        </div>
                                        <div class="single-slider owl-carousel testimonials-slider">
                                            <!-- 1 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="assets/img/panda.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3 translate="CLIENTS_TESTIMONIAL_1_TITLE"></h3>
                                                        <p translate="CLIENTS_TESTIMONIAL_1"> </p>
                                                        <a href="https://nationalzoo.si.edu/" translate="CLIENTS_TESTIMONIAL_1_SOURCE"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 2 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="assets/img/rat1.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3 translate="CLIENTS_TESTIMONIAL_2_TITLE"></h3>
                                                        <p translate="CLIENTS_TESTIMONIAL_2"></p>
                                                        <a href="#"  translate="CLIENTS_TESTIMONIAL_2_SOURCE"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 3 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="assets/img/turtles.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3 translate="CLIENTS_TESTIMONIAL_3_TITLE"></h3>
                                                        <p translate="CLIENTS_TESTIMONIAL_3"></p>
                                                        <a href="#" translate="CLIENTS_TESTIMONIAL_3_SOURCE"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 4 -->
                                            <div class="item">
                                                <div class="testi-item">
                                                    <div class="testi-item-img"><img src="assets/img/crazy.jpg" alt="" class="respimg"></div>
                                                    <div class="testi-item-text">
                                                        <h3 translate="CLIENTS_TESTIMONIAL_4_TITLE"></h3>
                                                        <p translate="CLIENTS_TESTIMONIAL_4"></p>
                                                        <a href="https://nationalzoo.si.edu/"  translate="CLIENTS_TESTIMONIAL_4_SOURCE"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- section end  -->
                        </div>
                        <!-- content end  -->
                    </div>
                    <!-- wrapper-inner end  -->
                    <!-- ================footer ==================== -->
                    <div class="height-emulator"></div>
                    <footer>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <!-- footer social -->
                                    <div class="footer-info">
                                        <h4 translate="FOOTER_FIND_ME"></h4>
                                        <div class="footer-social">
                                            <ul>
                                                <li><a href="https://www.facebook.com/leomleao" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="https://www.instagram.com/leao.leo/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                                <li><a href="https://plus.google.com/u/0/115117123448958208059" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                <li><a href="https://www.linkedin.com/in/leaoleo" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- footer contacts -->
                                    <div class="footer-info">
                                        <h4 translate="FOOTER_CONTACT"></h4>
                                        <ul class="footer-contacts">
                                            <li><a  href="#" onclick="return false;"> <i class="fa fa-whatsapp"></i> +1(301)6840052</a></li>
                                            <li><a href="#" onclick="return false;" > <i class="fa fa-phone"></i> +55(11)998680977</a></li>
                                            <li><a href="https://www.google.com.br/maps/@-23.1896366,-47.0467868,11z"><i class="fa fa-motorcycle"></i> Jundiai - SP Brasil</a></li>
                                            <li><a href="mailto:leomleao@gmail.com"><i class="fa fa-envelope-o"></i> leomleao@gmail.com</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <!-- titter -->
                                    <div class="footer-info">
                                        <h4 translate="FOOTER_INSTA"></h4>
                                        <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/5c74975ff6de2461333023f655fca9dfcd7a7e42.html" id="lightwidget_5c74975ff6" name="lightwidget_5c74975ff6"  scrolling="no" allowtransparency="true" class="lightwidget-widget" ></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--to top / privacy policy-->
                        <div class="to-top-holder copyright">
                            <div class="container">
                                <p><span translate="FOOTER_PAGE_INFO"></span> <a href="http://leoleao.ml" translate="FOOTER_PAGE_AUTHOR" ></a><span translate="FOOTER_PAGE_COPYRIGHT"></span><i class="fa fa-copyright"></i></p>                               
                                <div class="to-top"> <i class="fa fa-angle-double-up"></i></div>
                            </div>
                        </div>
                    </footer>
                    <!-- footer end -->
                </div>
                <!-- content-holder end -->
            </div>
            <!-- wrapper end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="assets/js/jquery/dist/jquery.min.js"></script>

        <script type="text/javascript" src="assets/js/angular/angular.min.js"></script>



        <script type="text/javascript" src="assets/js/angular-translate/angular-translate.js"></script>
        <script type="text/javascript" src="assets/js/angular-translate-handler-log/angular-translate-handler-log.js"></script>

        <script type="text/javascript" src="assets/js/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="assets/js/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
        <script type="text/javascript" src="assets/js/angular-translate-storage-local/angular-translate-storage-local.js"></script>

        <script type="text/javascript" src="assets/js/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script type="text/javascript" src="assets/js/plugins.js"></script>
        <script type="text/javascript" src="assets/js/scripts.js"></script>   
        
    </body>

</html>